In [1]:
import os
import pandas as pd

In [2]:
os.listdir("../titanic")

['test.csv', 'train.csv', 'gender_submission.csv']

In [3]:
train = pd.read_csv('../titanic/train.csv')

# pandas의 read_csv 메소드를 호출하여 train.csv 파일을 읽어오면, dataframe 형태로 반환합니다.

In [4]:
train.isnull().sum()

# pandas의 isnull(), sum() 메소드를 호출하여 dataframe에 컬럼별 결측치 개수를 구한다. ( 0 -> 결측치 없음, 상수 -> 총 결측치 개수)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
# 학습 데이터 셋의 상위 3개 출력

train.head(3)
#train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [6]:
train.describe()

# pandas의 describe메소드를 사용하여 레코드의 총 개수, 평균, 최소값, 최대값 등을 출력한다..

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
train.dtypes

# pandas의 dtypes 메소드를 사용하여 dataframe내의 컬럼 별 데이터 타입을 확인한다.

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [8]:
train.Cabin.unique()
train.Embarked.unique()
# pandas의 unique 메소드를 사용하여 Series에 어떤 단일값들이 있는지 확인한다.

array(['S', 'C', 'Q', nan], dtype=object)

In [9]:
survival = train.Survived.sum()
n_survival = train.shape[0] - survival

print(survival)
print(n_survival)
# pandas의 sum() 메서드 사용하여 Survival컬럼 값의 합으로 생존자의 수를 구하고 
# train 데이터프레임의 전체 레코드 수에서 survival의 값을 빼어 사망한 사람의 수를 구한다.

342
549

In [10]:
train['Pclass'].value_counts()
train['Sex'].value_counts()

#train['Embarked'].value_counts()
# pandas의 value_count()메소드를 사용하여 승객의 지위(Pclass)별 분포를 확인한다.

male      577
female    314
Name: Sex, dtype: int64